.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: 50px;
    color: #AABAF2;
}

.textarea {
    border: none;
    min-width: 80vw;
    height: 30vh;
    border-radius: 30px;
    padding: 20px;
    overflow: auto;
    outline: none;
    font-size: 20px;
}

.button {
    margin: 40px;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 80px;
    color: #AABAF2;
}
